.establishment {
  margin: 20px auto;
  background-color: rgb(240, 240, 240);
  line-height: 1.2;
  text-align: center;

  &__img {
    padding: 0;
  }

  &__badges {
    display: flex;
    justify-content: center;

    &--maxGuests {
      padding: 10px;
      background-color: $blue;
      color: $white;
    }

    &--selfCatering {
      margin: 0 2px 0 10px;
      padding: 10px;
    }

    &--infoIcon {
      width: 25px;
      height: 25px;
      margin-top: 3px;
    }
  }

  &__price {
    padding: 10px 20px 25px 20px;
    margin-bottom: 0px;
    font-size: 18px;
    position: relative;

    &--new {
      font-size: 22px;
    }

    &--discount {
      color: #217a0b;
      font-size: 22px;
    }

    &--old {
      text-decoration: line-through;
      text-decoration-color: #ff333a;
    }

    &--org {
      font-size: 22px;
    }
  }

  &__mapIcon {
    width: 35px;
    height: auto;
    margin-top: 30px;
  }

  &__btn {
    background-color: $darkBlue;
    width: 100%;
    &--text {
      color: $white;
    }
  }

  &__deal {
    margin-top: 40px;
  }
}

.establishmentDetailContainer,
.establishmentDetail__body,
.establishmentDetail__content {
  padding: 0;
}

.establishmentDetail {
  border: none;

  &__accept {
    display: flex;

    & img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }

  &__title {
    text-align: center;
    margin-top: 20px;
  }

  &__img {
    width: 100%;
    padding: 0;
  }

  &__badges {
    padding: 0;
    font-size: 18px;

    &--maxGuests {
      background-color: $blue;
      color: $white;
      padding: 5px;
    }

    &--selfCatering {
      padding: 5px;
      margin: 5px auto;
    }
  }

  &__email {
    font-size: 15px;
  }

  &__desc {
    margin: 20px auto;
  }

  &__price {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 24px;

    &--old {
      text-decoration: line-through;
      text-decoration-color: #ff333a;
    }

    &--new {
      font-size: 24px;
    }

    &--discount {
      color: #217a0b;
      font-size: 22px;
    }
  }

  &__bottom {
    justify-content: space-between;

    &--btn {
      margin-top: 15px;
      background-color: $darkBlue;
      color: $white;
      font-weight: bold;
      width: 150px;
    }

    &--mapIcon {
      margin: 0;
      width: 35px;
      height: auto;
    }
  }
}
