.footer {
  background-color: #696969;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  width: 100%;
  align-items: center;
  line-height: 1;
  color: $white;

  &__title--text {
    font-size: 72px;
    color: $yellow;
  }

  &__contact--title {
    margin-bottom: 20px;
  }

  &__social img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
}
