@import "variables";

.containerForm {
  margin: 20px auto;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  height: 85vh;
  padding-top: 20px;
  margin-bottom: 50px;

  &__form {
    margin: 0px auto;
    padding: 30px;

    & h2 {
      margin-bottom: 30px;
    }
  }
}

.form {
  &-text {
    color: #ff333a;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &--submit {
      background-color: $darkBlue;
      color: $white;
      border: none;
      width: 150px;
    }

    &--reset {
      background-color: $white;
      border: 1px solid $black;
      color: $black;

      &:hover {
        background-color: #d3292f;
      }
    }
  }
  &__date {
    padding-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__message {
    padding-bottom: 150px;
  }
}
