.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

// HomePage Top Image
.homeImgTop {
  display: none;
}

// SearchBar
.search {
  margin-top: 50px;
  margin-bottom: 20px;

  & > input {
    height: 50px;
  }

  &__icon {
    height: 30px;
  }
}

// Browse all section
.browseAll {
  text-align: center;
  margin: 50px auto;

  &__overlay {
    &--btn {
      background-color: $darkBlue;
      max-width: 90%;
      height: auto;

      & > a {
        color: $white;
      }
    }

    &--title {
      font-size: 18px;
    }
  }
}

// HomePage Carousels
.carousel {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 25px auto;
  margin-top: 50px;

  &__title {
    width: 60%;
    padding: 0 10px;

    &--before,
    &--after {
      background-image: url("../../images/line.png");
      width: 100%;
      height: 3px;
    }
  }

  &__figure {
    padding: 20px;

    &--img {
      width: 100%;
      height: auto;
    }
  }
}

// Footer
.footer {
  background-color: #c8c8c8;
  text-align: center;
  margin-top: 25px;
  padding: 25px 0;
  width: 100%;
  align-items: center;

  &__social img {
    width: 50px;
    height: auto;
    margin: 10px;
  }
}
