@media only screen and (min-width: 576px) {
  .searchContainer__title {
    font-size: 28px;
  }

  .establishmentDetailContainer {
    padding: 50px 0;
  }

  .establishment {
    text-align: left;

    &__badges {
      justify-content: start;
    }

    &__price {
      text-align: center;
      padding-top: 1.6rem;
      margin-bottom: 0;

      &--org {
        margin-bottom: 12px;
      }
    }

    &__btn {
      width: 75%;
    }
  }

  .homeImgTop {
    display: block;
    width: 100%;
  }

  .browseAll__overlay {
    padding: 30px;

    &--title {
      font-size: 24px;
      margin-bottom: 50px;
    }

    &--btn {
      max-width: 100%;
    }
  }

  .footer__title {
    padding-left: 25px;
  }

  .establishmentDetail__bottom {
    justify-content: start;

    &--mapIcon {
      margin-left: 50px;
      margin-bottom: 20px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .card-body {
    padding: 10px;
  }

  .browseAll__overlay {
    &--title {
      font-size: 2rem;
      margin-bottom: 50px;
      font-weight: 600;
    }

    &--btn {
      width: 250px;
      height: 60px;
      max-width: 100%;
      font-size: 1.6rem;
      width: 350px;
    }
  }

  .establishment {
    &__deal {
      margin-top: 25px;
    }

    &__price {
      padding-top: 15px;
    }

    &__mapIcon {
      margin-top: 25px;
    }
  }

  .establishmentDetail {
    align-items: center;

    &__badges {
      display: flex;
      justify-content: flex-start;
    }

    &__body {
      background-color: $white;
      padding: 5px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .searchContainer {
    position: absolute;
    top: 150px;
    left: 25%;
    min-width: 50%;
    max-width: 51%;
    height: 200px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);

    &__title {
      color: $white;
      font-size: 32px;
      font-weight: 600;
    }
  }

  .search {
    max-width: 550px;
    padding: 0px 30px;
    margin: 20px auto 10px auto;
  }

  .search__results {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 490px;
    margin: 0 auto;
    z-index: 1;

    &--item {
      color: $white;
    }
  }

  .browseAll__overlay {
    margin-top: 30px;

    &--title {
      margin-bottom: 80px;
      font-size: 2rem;
      font-weight: 600;
    }

    &--btn {
      font-size: 1.8rem;
      height: 2em;
      width: 30%;
    }
  }
}
