@media only screen and (min-width: 576px) {
  .establishment {
    text-align: left;

    &__badges {
      display: block;

      &--selfCatering {
        margin: 0;
        margin-top: 10px;
      }
    }

    &__price {
      text-align: center;
      padding-top: 1.6rem;
    }

    &__btn {
      width: 75%;
    }
  }
}

@media only screen and (min-width: 769px) {
  .homeImgTop {
    display: block;
    width: 100%;
  }

  .browseAll__overlay {
    margin-top: 15px;

    &--title {
      font-size: 24px;
    }

    &--btn {
      max-width: 100%;
    }
  }

  .footer__title {
    padding-left: 25px;
  }
}
