// Typography
$Gloria: "Gloria", serif;
$Futura: "futura-pt", sans-serif;
$Baskerville: "baskerville-urw", serif;

// Colours
$Beige: "#B39B00";
$Yellow: "#FFE019";
$DarkYellow: "#FFDD00";
$DarkBlue: "#1700B3";
$Blue: "#2100FF";
$Black: "#000000";
$White: "#FFFFFF";
